.banner-section {
    height: 480px;
    background-image: url('assets/images/homepage_hero-lg-xhdpi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: $text-light;
    .banner-text {
        padding-bottom: 50px;
        .banner-title {
            letter-spacing: 2px;
            margin-bottom: 35px;
            width: 600px;
        }
    }
}//.banner-section

@media only screen and (max-width: 991px) {
    .banner-section {
        background-position: 80%;
        .banner-text {
            padding: 0px 30px;
            .banner-title {
                letter-spacing: 0px;
                width: auto;
            }
            .banner-info {
                margin: 30px 0px;
            }
        }
    }//.banner-section
}//@media only screen and (max-width: 991px)

//swith to vertical background
@media only screen and (max-width: 420px) {
    .banner-section {
        background-image: url('assets/images/homepage_hero-sm-xhdpi.jpg');
        background-position: 80%;
    }//.banner-section
}//@media only screen and (max-width: 420px)
