footer {
    background: $bg-footer;
    color: $text-second;
    .top-footer {
        padding: 20px 0px;
        border-bottom: 2px solid $text-second;
        .footer-links {
            color: $text-second;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            a {
                font-size: 22px;
            }
        }
    }
    .bottom-footer {
        padding: 20px 0px;
        .footer-info {
            display: flex;
            justify-content: center;
            p { margin: 0px; }
        }
    }
}//footer

@media only screen and (max-width: 991px) {
    footer {
        .bottom-footer {
            padding: 20px;
        }
    }
}//@media only screen and (max-width: 991px)
