.product-section {
    padding: 50px 0px;
    .product-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .product-text {
            flex: 0 0 55%;
            color: $text-dark;
            .product-logo {
                &.mobile { display: none; }
            }
            p {
                line-height: 1.5;
            }
        }
        .product-image {
            flex: 0 0 45%;
            padding-left: 40px;
            margin-bottom: -80px;
            img {
                max-width: 100%;
                cursor: pointer;
                transition: all 1s;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }//.product-info
    .product-show-more {
        margin-top: 20px;
        a:before { display: none; }
    }
}//.product-section


@media only screen and (max-width: 991px) {
    .product-section {
        .product-info {
            flex-direction: column;
            padding: 0px 30px;
            .product-text {
                flex: 1;
                .product-logo {
                    &.desctop { display: none; }
                    &.mobile { display: inline; }
                }
            }
            .product-image  {
                flex: 1;
                margin: 20px;
                padding: 0px;
                img {
                    max-width: 100%;
                    cursor: default;
                    transition: none;
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
        .product-show-more {
            margin-top: 50px;
        }
    }//.product-section
}//@media only screen and (max-width: 991px)
