#user-orders {
    min-height: 0px;
    width: 100%;
    background: $bg-light;
    position: absolute;
    top: 0px;
    transition: all 1s;
    box-shadow: 0px 3.33333px 5px #8c8279;
    .user-content { display: none; }
    &.active {
        min-height: 480px;
        .user-content {
            display: block;
            position: relative;
            padding: 30px;
            h2 {
                margin-top: 0px;
                margin-bottom: 10px;
                &.user-name span {
                    color: $text-accent;
                }
            }
            .log-out-link {
                display: inline-block;
                font-size: 18px;
            }
            #hide-user-orders {
                position: absolute;
                right: 30px;
                top: 30px;
            }
            #login-orders {
                .login-form {
                    input {
                        font-size: 18px;
                        padding: 10px;
                        outline: none;
                        border: 2px solid $text-accent;
                        border-radius: 3px;
                        margin-right: 5px;
                        font-family: 'second-font-regular', sans-serif;
                    }
                    button {
                        height: 100%;
                        font-family: 'second-font-regular', sans-serif;
                    }
                }
                #login-error {
                    color: $text-accent;
                }
                #orders-display {
                    font-family: 'second-font-regular', sans-serif;
                    .order-wrapper {
                        padding: 20px 0px;
                        font-size: 18px;
                        &:last-child {
                            padding-bottom: 0px;
                            border-bottom: 0px;
                        }
                        .order-desc {
                            display: flex;
                            justify-content: space-between;
                            font-family: 'main-font-medium', sans-serif;
                            .status {
                                color: $text-accent;
                            }
                        }
                        .order-tracking {
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid $bg-footer;
                            margin-bottom: 10px;
                            padding: 10px 0px;
                            font-family: 'second-font-regular', sans-serif;
                        }
                        .order-item {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            .order-item-name {
                                .order-item-sku {
                                    font-family: 'main-font-medium', sans-serif;
                                    margin-right: 10px;
                                }
                            }
                            .order-item-amount {
                                min-width: 50%;
                                text-align: right;
                            }
                        }
                        .order-subtotal,
                        .order-discount,
                        .order-total {
                            text-align: right;
                            span { margin-left: 10px; }
                        }
                        .order-subtotal {
                            border-top: 1px solid $bg-footer;
                            padding-top: 10px;
                            span { font-family: 'main-font-medium', sans-serif; }
                        }
                        .order-discount {
                            color: $text-accent;
                        }
                        .order-total {
                            font-size: 24px;
                            margin-top: 10px;
                            span { color: $text-accent; }
                        }
                    }//.order-wrapper
                }//#orders-display
            }//#login-orders
        }//.user-content
    }//#user-orders.active
}//#user-orders


@media only screen and (max-width: 991px) {
    #user-orders {
        &.active{
            .user-content {
                padding: 50px 20px 20px;
                #hide-user-orders {
                    top: 20px;
                    right: 20px;
                }
                #login-orders {
                    .login-form {
                        display: flex;
                        flex-direction: column;
                        input {
                            margin-right: 0px;
                            margin-bottom: 5px;
                        }
                    }//.login-form
                    #orders-display {
                        .order-tracking {
                            flex-direction: column;
                        }
                        .order-item {
                            .order-item-sku {
                                display: block;
                            }
                        }
                    }
                }//#login-orders
            }//.user-content
        }//#user-orders.active
    }//#user-orders
}//@media only screen and (max-width: 991px)
