@font-face {
  font-family: "main-font-regular";
  src: url("assets/fonts/ApexNew-Book.otf") format("truetype");
}
@font-face {
  font-family: "main-font-medium";
  src: url("assets/fonts/ApexNew-Medium.otf") format("truetype");
}
@font-face {
  font-family: "second-font-regular";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
}
html, body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #333333;
  font-family: "main-font-regular", sans-serif;
}

h1 {
  font-size: 42px;
  font-family: "main-font-regular", sans-serif;
}

h2 {
  font-size: 32px;
  font-family: "main-font-regular", sans-serif;
}

p {
  font-size: 18px;
  font-family: "second-font-regular", sans-serif;
}

#main-content {
  width: 992px;
  margin: 0 auto;
  box-shadow: 3.33333px 0 5px #8c8279, -3.33333px 0 5px #8c8279;
  position: relative;
  display: block;
}
#main-content .section-wrapper {
  width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  #main-content {
    width: 100%;
    margin: 0px;
    box-shadow: none;
  }
  #main-content .section-wrapper {
    width: 100%;
    margin: 0px;
    text-align: center;
  }
}
.button {
  min-width: 120px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 30px;
  transition: all 500ms;
  outline: none;
  font-size: 18px;
}
.button.transparent-button {
  border: 2px solid #FFFFFF;
}
.button.transparent-button:hover {
  background: #FFFFFF;
  color: #707070;
}
.button.accent-button {
  border: 2px solid #BC204B;
  background: #BC204B;
  color: #FFFFFF;
}
.button.accent-button:hover {
  background: #FFFFFF;
  color: #BC204B;
}
.button.circle-button {
  padding: 0px;
  min-width: auto;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

a,
.link-effect {
  color: #707070;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
a:hover,
.link-effect:hover {
  color: #BC204B;
}
a:hover:before,
.link-effect:hover:before {
  width: 100%;
}
a:before,
.link-effect:before {
  content: "";
  width: 0px;
  height: 2px;
  background: #BC204B;
  position: absolute;
  bottom: 0px;
  transition: all 500ms;
}

.banner-section {
  height: 480px;
  background-image: url("assets/images/homepage_hero-lg-xhdpi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
}
.banner-section .banner-text {
  padding-bottom: 50px;
}
.banner-section .banner-text .banner-title {
  letter-spacing: 2px;
  margin-bottom: 35px;
  width: 600px;
}

@media only screen and (max-width: 991px) {
  .banner-section {
    background-position: 80%;
  }
  .banner-section .banner-text {
    padding: 0px 30px;
  }
  .banner-section .banner-text .banner-title {
    letter-spacing: 0px;
    width: auto;
  }
  .banner-section .banner-text .banner-info {
    margin: 30px 0px;
  }
}
@media only screen and (max-width: 420px) {
  .banner-section {
    background-image: url("assets/images/homepage_hero-sm-xhdpi.jpg");
    background-position: 80%;
  }
}
.product-section {
  padding: 50px 0px;
}
.product-section .product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-section .product-info .product-text {
  flex: 0 0 55%;
  color: #333333;
}
.product-section .product-info .product-text .product-logo.mobile {
  display: none;
}
.product-section .product-info .product-text p {
  line-height: 1.5;
}
.product-section .product-info .product-image {
  flex: 0 0 45%;
  padding-left: 40px;
  margin-bottom: -80px;
}
.product-section .product-info .product-image img {
  max-width: 100%;
  cursor: pointer;
  transition: all 1s;
}
.product-section .product-info .product-image img:hover {
  transform: scale(1.3);
}
.product-section .product-show-more {
  margin-top: 20px;
}
.product-section .product-show-more a:before {
  display: none;
}

@media only screen and (max-width: 991px) {
  .product-section .product-info {
    flex-direction: column;
    padding: 0px 30px;
  }
  .product-section .product-info .product-text {
    flex: 1;
  }
  .product-section .product-info .product-text .product-logo.desctop {
    display: none;
  }
  .product-section .product-info .product-text .product-logo.mobile {
    display: inline;
  }
  .product-section .product-info .product-image {
    flex: 1;
    margin: 20px;
    padding: 0px;
  }
  .product-section .product-info .product-image img {
    max-width: 100%;
    cursor: default;
    transition: none;
  }
  .product-section .product-info .product-image img:hover {
    transform: none;
  }
  .product-section .product-show-more {
    margin-top: 50px;
  }
}
footer {
  background: #EDEFF0;
  color: #707070;
}
footer .top-footer {
  padding: 20px 0px;
  border-bottom: 2px solid #707070;
}
footer .top-footer .footer-links {
  color: #707070;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .top-footer .footer-links a {
  font-size: 22px;
}
footer .bottom-footer {
  padding: 20px 0px;
}
footer .bottom-footer .footer-info {
  display: flex;
  justify-content: center;
}
footer .bottom-footer .footer-info p {
  margin: 0px;
}

@media only screen and (max-width: 991px) {
  footer .bottom-footer {
    padding: 20px;
  }
}
#user-orders {
  min-height: 0px;
  width: 100%;
  background: #FFFFFF;
  position: absolute;
  top: 0px;
  transition: all 1s;
  box-shadow: 0px 3.33333px 5px #8c8279;
}
#user-orders .user-content {
  display: none;
}
#user-orders.active {
  min-height: 480px;
}
#user-orders.active .user-content {
  display: block;
  position: relative;
  padding: 30px;
}
#user-orders.active .user-content h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
#user-orders.active .user-content h2.user-name span {
  color: #BC204B;
}
#user-orders.active .user-content .log-out-link {
  display: inline-block;
  font-size: 18px;
}
#user-orders.active .user-content #hide-user-orders {
  position: absolute;
  right: 30px;
  top: 30px;
}
#user-orders.active .user-content #login-orders .login-form input {
  font-size: 18px;
  padding: 10px;
  outline: none;
  border: 2px solid #BC204B;
  border-radius: 3px;
  margin-right: 5px;
  font-family: "second-font-regular", sans-serif;
}
#user-orders.active .user-content #login-orders .login-form button {
  height: 100%;
  font-family: "second-font-regular", sans-serif;
}
#user-orders.active .user-content #login-orders #login-error {
  color: #BC204B;
}
#user-orders.active .user-content #login-orders #orders-display {
  font-family: "second-font-regular", sans-serif;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper {
  padding: 20px 0px;
  font-size: 18px;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-desc {
  display: flex;
  justify-content: space-between;
  font-family: "main-font-medium", sans-serif;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-desc .status {
  color: #BC204B;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-tracking {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EDEFF0;
  margin-bottom: 10px;
  padding: 10px 0px;
  font-family: "second-font-regular", sans-serif;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-item .order-item-name .order-item-sku {
  font-family: "main-font-medium", sans-serif;
  margin-right: 10px;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-item .order-item-amount {
  min-width: 50%;
  text-align: right;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-subtotal,
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-discount,
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-total {
  text-align: right;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-subtotal span,
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-discount span,
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-total span {
  margin-left: 10px;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-subtotal {
  border-top: 1px solid #EDEFF0;
  padding-top: 10px;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-subtotal span {
  font-family: "main-font-medium", sans-serif;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-discount {
  color: #BC204B;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-total {
  font-size: 24px;
  margin-top: 10px;
}
#user-orders.active .user-content #login-orders #orders-display .order-wrapper .order-total span {
  color: #BC204B;
}

@media only screen and (max-width: 991px) {
  #user-orders.active .user-content {
    padding: 50px 20px 20px;
  }
  #user-orders.active .user-content #hide-user-orders {
    top: 20px;
    right: 20px;
  }
  #user-orders.active .user-content #login-orders .login-form {
    display: flex;
    flex-direction: column;
  }
  #user-orders.active .user-content #login-orders .login-form input {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  #user-orders.active .user-content #login-orders #orders-display .order-tracking {
    flex-direction: column;
  }
  #user-orders.active .user-content #login-orders #orders-display .order-item .order-item-sku {
    display: block;
  }
}
