.button {
    min-width: 120px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 30px;
    transition: all 500ms;
    outline: none;
    font-size: 18px;
    &.transparent-button {
        border: 2px solid $text-light;
        &:hover {
            background: $bg-light;
            color: $text-second;
        }
    }
    &.accent-button {
        border: 2px solid $text-accent;
        background: $bg-accent;
        color: $text-light;
        &:hover {
            background: $bg-light;
            color: $text-accent;
        }
    }
    &.circle-button {
        padding: 0px;
        min-width: auto;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
    }
}//.button
