@font-face {
    font-family: 'main-font-regular';
    src: url('assets/fonts/ApexNew-Book.otf') format('truetype');
}
@font-face {
    font-family: 'main-font-medium';
    src: url('assets/fonts/ApexNew-Medium.otf') format('truetype');
}
@font-face {
    font-family: 'second-font-regular';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
}

html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: $text-dark;
    font-family: 'main-font-regular', sans-serif;
}
h1 {
    font-size: 42px;
    font-family: 'main-font-regular', sans-serif;
}
h2 {
    font-size: 32px;
    font-family: 'main-font-regular', sans-serif;
}
p {
    font-size: 18px;
    font-family: 'second-font-regular', sans-serif;
}
