#main-content {
    width: 992px;
    margin: 0 auto;
    box-shadow: 3.33333px 0 5px #8c8279, -3.33333px 0 5px #8c8279;
    position: relative;
    display: block;
    .section-wrapper {
        width: 700px;
        margin: 0 auto;
    }
}//#main-content


@media only screen and (max-width: 991px) {
    #main-content {
        width: 100%;
        margin: 0px;
        box-shadow: none;
        .section-wrapper {
            width: 100%;
            margin: 0px;
            text-align: center;
        }
    }
}//@media only screen and (max-width: 991px)
