a,
.link-effect {
    color: $text-second;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    &:hover {
        color: $text-accent;
        &:before {
            width: 100%;
        }
    }
    &:before {
        content: '';
        width: 0px;
        height: 2px;
        background: $text-accent;
        position: absolute;
        bottom: 0px;
        transition: all 500ms;
    }
}
